@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #fff;
  color: #000;
  font-family: "Open Sans", sans-serif;
  background-image: radial-gradient(#ddd 1px, transparent 0),
    radial-gradient(#ddd 1px, transparent 0);
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f4f5f7;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #2b2e34;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
